body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: center;
    border: none;
    margin: none;
}

.btn-selector {
    font-size: 2rem;
    text-align: center;
    background-color: turquoise;
}

.btn-selector:hover {
    background-color: green;
    color: violet;
}

.container {
    margin: 0px auto;
    max-width: 1280px;
    position: relative;
}

.title-content {
color: black;
background-color: turquoise;
border: none;
margin: none;
}

.playground {
    background-color: yellow;
}
